<footer class="footer-box" th:fragment="footer">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
					<div class="footer_blog">
						<div class="full margin-bottom_30">
							<img src="/images/footer_logo.png" alt="#" />
						</div>
						<div class="full white_fonts">
							<p>
							The mission of PerfectLearn is to nurture students to develop their talents and skills to be responsible, 
							success-oriented citizens who contribute to the ongoing improvement of their local, national and international communities. 
							</p>
						</div>
					</div>
				</div>

				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
					<div class="footer_blog footer_menu white_fonts">
						<h3>Quick links</h3>
						<ul>
							<li><a href="#">> Join Us</a></li>
							<li><a href="#">> Maintenance</a></li>
							<li><a href="#">> Language Packs</a></li>
							<li><a href="#">> LearnPress</a></li>
							<li><a href="#">> Release Status</a></li>
						</ul>
					</div>
				</div>

				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
					<div class="footer_blog full white_fonts">
						<h3>Newsletter</h3>
						<p>Hãy đăng kí để có thể nhận được những tin tức, ưu đãi và thông báo mới nhất từ chúng tôi</p>
						<div class="newsletter_form">
							<form action="index.html">
								<input type="email" placeholder="Your Email" name="#" required />
								<button>Gửi</button>
							</form>
						</div>
					</div>
				</div>

				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
					<div class="footer_blog full white_fonts">
						<h3>Contact us</h3>
						<ul class="full">
							<li><i
								class="fas fa-map-marker-alt mr-3 d-flex align-items-center mt-1"></i>
								<span>69 Le Duan, Da Nang<br/>Viet Nam</span></li>
							<li><i
								class="fas fa-envelope mr-3 d-flex align-items-center mt-1"></i><span>perfectlearn@edu.com.vn</span>
							</li>
							<li><i
								class="fas fa-phone mr-3 d-flex align-items-center mt-1"></i><span>+84586954775</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</footer>